<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ with .Title }}{{ . }} -{{ end }} {{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | relURL }}" />
  <link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}" />
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
  {{ if .Params.keywords }}
    <meta name="keywords" content="{{ delimit .Params.keywords `, ` }}" />
  {{ end }}
  {{ if .Params.private }}
    <meta name="robots" content="noindex, nofollow" />
  {{ else }}
    <meta name="robots" content="index, follow" />
  {{ end }}
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ partial "opengraph.html" . }}
  {{ $css := resources.Get "/css/main.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  {{ $params := dict
    "closeTitle" (i18n "closeTitle")
    "zoomTitle" (i18n "zoomTitle")
    "arrowPrevTitle" (i18n "arrowPrevTitle")
    "arrowNextTitle" (i18n "arrowNextTitle")
    "errorMsg" (i18n "errorMsg")
    "downloadTitle" (i18n "downloadTitle")
  }}
  {{ $js := resources.Get "js/main.js" | js.Build (dict "minify" true "params" $params) | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
  {{- partial "head-custom.html" . -}}
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.snap-it.boreux.work"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.boreux.work/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img referrerpolicy="no-referrer-when-downgrade" src="//analytics.boreux.work/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
</head>
