---
layout: page
rss_ignore: true
title: about me
menu:
  main:
    name: 🇦bout
    weight: -5
---

<div align="center">

<h3 style="font-size:1.75em;">Tiffanie BOREUX</h3>

<img src="/tboreux.jpg" width=400px>

<p>
  📸 Smartphone Photographer | 🔓 Open Source Enthusiast | 🐍 Python Aficionado
</p>

<hr style="border-top: 1px solid #CCC;margin:30px;">

<p>
  Hello, and welcome to my photography portfolio! I'm <b>Tiffanie</b>, an <i>IT System Engineer</i> from Liège, Belgium 🇧🇪.
</p>
<p>
  As you'll see while exploring this gallery, I'm not just a tech enthusiast who spends all day and night on a computer. 
  While I do enjoy the company of these machines, after a good day's work, I love to take a walk and capture beautiful moments with my smartphone.
</p>
<p>
  I don't take myself too seriously; I simply enjoy freezing a scene I find appealing in a photo.
</p>
<p>
  One day, I thought, <i>"Why not create a public portfolio?"</i> So, here you are!
</p>
<p>
  Please enjoy viewing these pictures as much as I enjoyed taking them!
</p>
</div>

<p align="right">— <i>Tiffanie</i></p>