---
layout: page
rss_ignore: true
title: contact
menu:
  main:
    name: 🇨ontact
    weight: -1
---

<style>
    #main{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    input, textarea{
        width: 60%;
        padding: 10px;
        border: 1px dotted #737373;
        font-size: 1em;
    }
    button[type=submit]{
        width: 60%;
        padding: 5px;
        background-color: #CDCDCD;
        color: #737373;
    }
    button[type=submit]:hover{
        background-color: #999999;
        color: #EEEEEE;
    }
</style>
    
<div id="main">
    <p style="font-size: 0.80em;">
        Whether you have a question, a feedback, or anything else, I would love to hear from you!<br>
        Simply fill out the contact form below, and I'll get back to you as soon as possible.
    </p>
    <form data-netlify="true" method="POST" name="contact">
        <input name="pseudo" id="pseudo" type="text" placeholder="pseudo (required)" required/> <br /><br />
        <input name="mail" id="mail" type="mail" placeholder="email (required)" required/> <br /><br />
        <textarea name="message" id="message" placeholder="message" rows="10"></textarea><br /> <br />
        <button type="submit" value="Submit">Send ▻</button>
    </form>
</div>
    